*title: delay meas.
.option brief nopage nomod post=1 ingold=2 autostop

.inc '{{param.model}}'
.inc '{{param.netlist}}'

.temp {{param.temp}}

.param _vdd = {{param.vdd_voltage}}
.param _vss = {{param.vss_voltage}}
.param _vnw = {{param.vnw_voltage}}
.param _vpw = {{param.vpw_voltage}}
.param cap  = {{param.cap}}
.param slew = {{param.slew}}

.param _tslew   = {slew}
.param _tstart0 = {slew+10n}
.param _tstart  = {_tstart0+10n}

.param _tend    = {_tstart+_tslew}
.param _tsimend = {_tend+0.3us} 

VDD_DYN VDD_DYN 0 DC {_vdd}
VSS_DYN VSS_DYN 0 DC {_vss}
VNW_DYN VNW_DYN 0 DC {_vnw}
VPW_DYN VPW_DYN 0 DC {_vpw}

VHIGH VHIGH 0 DC {_vdd}
VLOW  VLOW  0 DC {_vss}


* output load calculation
VOCAP VOUT WOUT DC 0
 
##.tran {{param.simulation_timestep}}{{param.time_unit}} '_tsimend'
.tran {{param.simulation_timestep}} {_tsimend}

##=== set VIN 
{% if   param.relport_arc == "rise" %}
VIN VIN 0 PWL(1p {_vss} {_tstart} {_vss} {_tend} {_vdd} {_tsimend} {_vdd}) 
{%- elif param.relport_arc == "fall" %}
VIN VIN 0 PWL(1p {_vdd} {_tstart} {_vdd} {_tend} {_vss} {_tsimend} {_vss}) 
{%- elif param.relport_val0 == "1" %}
VIN VIN 0 DC {_vdd}
{%- else %}
VIN VIN 0 DC {_vss}
{%- endif %}


** Delay 

##=== 
* Prop delay 

.MEASURE TRAN prop_in_out
+ TRIG v(VIN)  VAL={{param.relport_prop_vth}} {{param.relport_arc}}=1  TD={_tstart}
+ TARG v(VOUT) VAL={{param.outport_prop_vth}} {{param.outport_arc}}=1

##=== 
* Trans delay 
.MEASURE TRAN trans_out
+ TRIG v(VOUT) VAL={{param.outport_tran_v0}} {{param.outport_arc}}=1 TD={_tstart}
+ TARG v(VOUT) VAL={{param.outport_tran_v1}} {{param.outport_arc}}=1 

##=== 
* For energy calculation

###
.MEASURE TRAN energy_start
+ WHEN V(VIN)={{param.relport_ener_v0}} {{param.relport_arc}}=1 TD={_tstart}

.MEASURE TRAN energy_end
+ WHEN V(VOUT)={{param.outport_ener_v1}} {{param.outport_arc}}=1 TD={_tstart}

{% if param.meas_energy == 1 %}

* 
** In/Out Q, Capacitance 
* 
.MEASURE TRAN q_in_dyn INTEG  I(VIN)   FROM={{param.energy_start}} TO={{param.energy_end}}
.MEASURE TRAN q_out_dyn INTEG I(VOCAP) FROM={{param.energy_start}} TO={{param.energy_end}}

* 
** Energy 
*  (Total charge, Short-Circuit Charge) 
.MEASURE TRAN q_vdd_dyn INTEG I(VDD_DYN) FROM={{param.energy_start}} TO={{param.energy_end}}
.MEASURE TRAN q_vss_dyn INTEG I(VSS_DYN) FROM={{param.energy_start}} TO={{param.energy_end}}

* Leakage current 
.MEASURE TRAN i_vdd_leak AVG I(VDD_DYN) FROM={_tstart0} TO={_tstart}
.MEASURE TRAN i_vss_leak AVG I(VSS_DYN) FROM={_tstart0} TO={_tstart}

* Gate leak current 
.MEASURE TRAN i_in_leak avg I(VIN) FROM={_tstart} TO={_tend}

{% endif %}

##=== 
*comment out .control for ngspice batch mode 
*.control 
*run 
*plot V(VIN) V(VOUT) 
*.endc 

##=== 
XCELL VIN VOUT VHIGH VLOW VDD_DYN VSS_DYN VNW_DYN VPW_DYN DUT 
C0 WOUT VSS_DYN 'cap'
 
.SUBCKT DUT IN OUT HIGH LOW VDD VSS VNW VPW
{{param.tb_instance}}
.ends 

.end 
